/.later/
/pfe_thesis.*
lib/*
!/lib/code.inc
!/lib/gls_ac.setup
!/lib/thesis.setup
!/lib/refs.bib
/bibexport.bib
/_minted-*
*.aux
mimore.cls
/chps/*.local
/figures/icons/*
/figures/dsg/*.svg
/chps/local/
/figures/dsg/
/figures/comics/
/stats
/chps/chp3/
!/chps/chp3/*.org
